 <div class="col-md-8" id = "select">
    <button value = "3.25"><img src = "https://assets.bonappetit.com/photos/5d1cb1880813410008e914fc/16:9/w_1200,c_limit/Print-Summer-Smash-Burger.jpg"></img>Hamburger</button>
    <button value = "3.75">Cheeseburger</button>
    <button value = "4.75">Double Cheesburger</button>
    </div>